header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  
  }
  
  section{
    margin: 200px;
    
  }
  form{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    
  }
  
  input{
    width: 100px;
  }
  
  #nav-bar ul{
    display: flex;
    justify-content: center;
    column-gap: 50px;
  }
  
  li{
    list-style: none;
  }
  
  @media (max-width: 600px) {
     
    #nav-bar ul{
     display: flex;
     justify-content: center;
     column-gap: 50px;
     flex-direction: column;
    }
  }
  
